<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Blog... Mi cuaderno de apuntes</span>
  <div class="button-row">
    <button mat-button color="basic" routerLink="home" routerLinkActive="active" >home</button>
    <button mat-button color="basic" routerLink="blog" >blog</button>
    <button mat-button color="basic" routerLink="about">about</button>
    <button mat-button color="basic" routerLink="contacto">contacto</button>
    <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </div>
</mat-toolbar>

